.mapcard{
    box-shadow: 2px 6px 6px black;
    width: 400px;
    height: 100px;
    margin-left: 200px;
    align-items: center;
    padding-left: 100px;
    margin-bottom: 10px;
    background: rgb(248, 141, 141);
    color: white;
}